#Please rename to config.json
#And Delete this message (because JSON doesn't support commentout)

{
	"token": "YourDiscordBotTokenHere",
	"applicationId": "YourDiscordBotAppID",
	"guildId": "YourGuildID"
}