#Please rename to config.json
#And Delete this message (because JSON doesn't support commentout)

{
	"kairun": 8264,
	"token": "YourDiscordBotTokenHere",
	"linkDomain": "link.yourdomain.com",
	"linkPort": 8264,
	"cdnUploadURL": "http://192.168.1.255/upload-discord",
	"cdnUploadURL2": "http://192.168.1.255/upload-discord",
	"cdnRootURL": "https://cdn.ringoxd.dev/",
	"uploadAllowUsers": ["00000000000","16326412825651210244096"],
	"applicationId": "000000",
	"cfToken": "ORIMOTOKAIRUNDHUAUNDHUAUN",
	"cfZone": "133114688",
	"cfPurgeUrl": "https://cdn.yourdomain.com/",
	"AdminRoleID": "00000000000",
	"AdminUserIDs": ["1063527758292070591", "1126422758696427552"],
	"mongoDBhost": "127.0.0.1",
	"mongoDBport": "27017",
	"mongoDBuser": "admin",
	"mongoDBpass": "password",
	"mongoDBdatabase": "idk",
	"rconhost1": "192.168.1.255",
	"rconport1": "25575",
	"rconpass1": "yourpassword1234",
	"syslogChannel": "1151139585791901746",
	"language": "default"
}