name: CI

on:
  pull_request:
    types:
      - closed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            ls
            cd ${{ secrets.SERVER_DEPLOY_DIR }}
            git checkout .
            git pull origin main
            screen -p 0 -S bot -X eval 'stuff "^C\015"'
            screen -p 0 -S bot -X eval 'stuff "node index.js\015"'
